---
---
:root {
    background-color: black;
}

@media only screen and (min-width: 768px) {
    .col-lg-27 {
        width: 22.5%;
    }
}

body {
    font-family: "Lato";
}

.navbar {
    background-color: transparent!important;
    transition: all .2s;
    //background-image: linear-gradient(#453733, transparent);
    background-image: linear-gradient(#3d2d28, #816055, transparent);

    .navbar-toggler {
        background-color: #ffffff!important;
        padding: 0.1rem 0.5rem;

        .navbar-toggler-icon {
            width: 1rem;
        }
    }
}
.navbar .nav-link,
.navbar .navbar-brand {
    color: white;
    transition: all .2s;
    font-size: 0.8rem;
}

//.navbar:hover {
.navbar:has(div.show) {
    background-color: #9c7469!important;
    transition: all .2s;
}
//.navbar:hover {
.navbar:has(div.show) .nav-link,
.navbar:has(div.show) .navbar-brand {
    color: white;
    transition: all .2s;
}

.navbar .navbar-nav:first-of-type .nav-item:first-of-type .nav-link {
    background-color: red;
}

.navbar.navbar-hide {
    offset: -150px -150px;
    transition: all .2s;
}

.navbar.navbar-show {
    offset: 100px;
    transition: all .2s;
}

.carousel-inner img{
    object-fit: cover;
width: 100%;
min-height: 600px;
max-height: 600px;
}

.home-carousel-caption {
    //font-size: 0.7rem;
    //right: 2em;
}

.carousel-caption {
    text-align: center;
    // max-width: 30em;
    // background: #00000075;
    //text-shadow: black 0px 0px 7px;
    left: 0em;
    padding: 1em;
    right: 0em;
    //background: red;
    width: 90%;

    h5 {
        font-size: 1.5em;
        margin: 0 1em 0.5em;
    }

    p {
        font-size: 1.5em;
    }

    a {
        //text-shadow: black 0px 0px 7px;
        padding: 1em 2em;
    }

    a:hover {
        //text-shadow: none;
    }
}

.subsection {
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        min-height: 25rem;
    }
}

.subsection-press {
    //background-color: #7c7c7c; //#2a53a2;
    //background: linear-gradient(90deg, transparent, #3d454c, transparent);
    //background: linear-gradient(90deg, #c3aea8, #8a6b62, #c3aea8);
    background: linear-gradient(90deg, #4f423e, #c9aca3, #4f423e);
}

.subsection-blog {
    //background-color: #7c7c7c; //#2aa274;
    background: linear-gradient(90deg, transparent, #3d454c, transparent);
}

.footer {
    font-size: 0.8em;

    .fa {
        color: #333;
        text-decoration: none;
        padding: 0.3em;
        background-color: gray;
        border-radius: 1em;
        width: 1.5em;
        text-align: center;
    }

    .fa:hover {
        background-color: white;
    }

    .svglogo {
        font-family: "Lato";
        font-weight: 500;
        fill: gray;

        .tm {
            top: -0.7rem;
            position: relative;
            color: gray;
            font-size: 0.6rem;
        }
    }
}

.splash {
    img {
        object-fit: cover;
        width: 100%;
        min-height: 300px;
        max-height: 600px;        
    }

    .heading h1 {
        float: left;
        position: relative;
        top: -3em;
        color: white;
    }
}

.bg-frost {
    backdrop-filter: blur(0.7rem);
    background: linear-gradient(45deg, #80808040, #5e5e5e63, #7474742e);
}

.bg-accent-prime {
    background-image: linear-gradient(transparent, #212529), url(https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.bg-accent-prime-long {
    background-image: linear-gradient(transparent, #212529, #212529, #212529, #212529, #212529, #212529, #212529, #212529, #212529, #212529), url(https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
}

.bg-accent-prime-reverse {
    background-image: linear-gradient(#212529, transparent), url(https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.bg-content-prime {
    box-shadow: 0px -2px 20px #535557;

    a {
        color: #a0a0a0;
    }
}

.bg-light-primary {
    background-color: #c3aea8;
}

.bg-light-primary-reverse {
    background-image: linear-gradient(transparent, #c3aea8);
    //background-repeat: no-repeat;
    //background-position: 50% 0;
    //background-size: cover;
}

.bg-light-dark {
    background-color: #534541!important;
}

.bg-light-dark-darker {
    background-color: #332a27!important;
}

.bg-accent-secondary {
    background-color: #383e45;
}

.logo {
    font-family: "Lato";
    font-weight: 500;

    .svglogo {
        

        svg {
            fill: white;
            padding: 0.8rem 0 0.8rem 0;
        }

        .tm {
            padding-right: 0.8rem;
            top: -0.7rem;
            position: relative;
            font-size: 0.6rem;
        }
    }
}

.side-scroll {
    flex-wrap: initial;
    overflow-x: scroll;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin-left: 0rem;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

h1 {
    font-size: 1.8rem;
    margin: 1.8rem 0;
}

h2 {
    font-size: 1.3rem;
    margin: 1.3rem 0;
}

h3 {
    font-size: 1.1rem;
    margin: 1.3rem 0;
}

h4 {
    font-size: 1.0rem;
    margin: 1.3rem 0 0.5rem 0;
    font-weight: bold;
}


.booknow-button {
    background: red;
    border-color: red;
}
