{% assign press_pages = site.pages | where:"type", include.type | sort: "sort" %}
{% for p in press_pages limit:include.limit %}
<div class="mb-5">
  <p><a href="{{p.url}}" ><img src="{{p.thumbnail}}" width="100%"/></a></p>
  <p><a href="{{p.url}}" class="text-decoration-none text-light fw-bold">{{p.title}}</a></p>
  <p><a href="{{p.url}}" class="text-decoration-none text-light">{{p.subtitle}}</a></p>
  <p><a href="{{p.url}}" class="btn btn-outline-light px-3 py-3 py-sm-2 d-block d-sm-inline" role="button">Learn more...</a></p>
</div>
{% endfor %}
