<div class="container-fluid p-3 py-5 p-sm-5 text-light subsection-press">
    <div class="row">
      <h3 class="ps-4 col-8 col-md-10 fs-3 fw-lighter">{{include.title}}</h3>
      <a class="mb-4 col-3 col-md-2 btn btn-outline-light" role="button">View All</a>
      <div class="row side-scroll">
      {% assign press_pages = site.pages | where:"type", include.type | sort: "sort" %}
      {% for p in press_pages limit:12 %}
      <div class="py-3 col-lg-3 col-md-6 col-sm-6">
        <p><a href="{{p.url}}" ><img src="{{p.thumbnail}}" width="100%"/></a></p>
        <p class="fs-6 fw-lighter"><a href="{{p.url}}" class="text-decoration-none text-light">{{ p.date | date: '%B %d, %Y' }}</a></p>
        <p><a href="{{p.url}}" class="text-decoration-none text-light">{{p.subtitle}}</a></p>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>